﻿
@model AccuVQuiz.Models.Question

@{
    ViewData["Title"] = "Home Page";
}



<div class="home">

    <h2>
        Question #1
    </h2>



    <p>
        
        @Model.Question1

    </p>

    <form>
        <div class="textAlign">


            <div class="funkyradio-default">
                <div>
                    <input type="checkbox" name="checkbox" id="checkbox1" checked />
                    <label for="checkbox1">@Model.Option1</label>
                </div>
                <div>
                    <input type="checkbox" name="checkbox" id="checkbox2" />
                    <label for="checkbox2">@Model.Option2</label>
                </div>
                <div>
                    <input type="checkbox" name="checkbox" id="checkbox3" />
                    <label for="checkbox3">@Model.Option3</label>
                </div>
                <div>
                    <input type="checkbox" name="checkbox" id="checkbox4" />
                
                <label for="checkbox4">@Model.Option4</label>
            </div>
            <div>
                <input type="checkbox" name="checkbox" id="checkbox5" />
                <label for="checkbox5">@Model.Option5</label>
            </div>

                            </div>

                            <div>
                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index2", "Home")'">Next</button>

                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("quizStart", "Home")'">Back</button>
                            </div>
                        </div>
    </form>
</div>



